<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        
        <div class="container-footer">
			
			<div class="info-row">
				<div class="container-fluid">
					<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<i class="fa fa-phone fa-3x" aria-hidden="true"></i><span><h2>+123 456 7890</h2></span>

						</div>
						<div class="col-lg-4">
							<i class="fa fa-envelope fa-3x" aria-hidden="true"></i><span><h4>info@gmail.com</h4></span>
						</div>
						<div class="col-lg-4">
							<i class="fa fa-life-ring fa-3x" aria-hidden="true"></i><span><h4>support@gmail.com</h4></span>
						</div>
					</div>
					</div>
				</div>
			</div>
			
			<div class="bottom">
				<div class="container-fluid">
					<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="sitemap">
								<h4>Information</h4>
								<ul>
									<li>About us</li>
									<li>Levering info</li>
									<li>Privacy</li>
									<li>Terms Conditions</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="sitemap">
								<h4>Producten</h4>
								<ul>
									<li>Jonge Kaas</li>
									<li>Oude Kaas</li>
									<li>Kaas 1</li>
									<li>Kaas 2</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="sitemap">
								<h4>My Account</h4>
								<ul>
									<li>My Account</li>
									<li>Contact</li>
									<li>SHopping Cart</li>
									<li>Checkout</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="sitemap1">
								<h4>Customer Service</h4>
								<ul>
									<li>Contact Us</li>
									<li>Terms of use</li>
									<li>Privacy</li>
									<li>Site Map</li>
								</ul>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>

			<div class="credits">
				<div class="container-fluid">
					<div class="container">
						<div class="row">
							<div class="col-lg-6">
								<div class="left">
									<div class="copyright">Copyright © 2017 - KaaS, All right reserved.</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="right">
									<img src="img/credits/payment-icon-300x22v1.png"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
        
    </body>
</html>
