<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        
    </head>
    <body>
        <div>
            <h2>Accounts</h2>
            <div th:unless="${#lists.isEmpty(accounts)}">
                <dl th:each="account : ${accounts}" >
                    <span th:text="${account.idAccount}">ID<span>
                    <span th:text="${account.naam}">Naam<span>
                    <span th:text="${account.createDate}">Create Date<span>
                </dl>
            </div>
        </div>
        
        <div th:if="${#lists.isEmpty(accounts)}">
            <p>No Accounts to display</p>
    </body>
</html>
