<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/workshop2?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">cursist</property>
    <property name="hibernate.connection.password">rsvier</property>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/Adres.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/Bestelling.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/KlantHasAdres.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/BestellingHasArtikel.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/Artikel.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/Klant.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/Adrestype.hbm.xml"/>
    <mapping resource="com/rsvier/workshop2/MVC/Model/POJO/Account.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
